<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragment/general.html :: headerfiles (pageTitle='KKAEMI.GG')"></head>
    </head>
    <body>
        <!-- navbar -->
        <nav th:insert="fragment/general.html :: navbar"></nav>

        <div class="p-5" style="min-height: 800px;">
            <h1 class="py-5">등록되지 않은 소환사입니다. 😅</h1>
            <a href="/" class="fs-4">돌아가기</a>
        </div>

        <!-- footer -->
        <footer th:insert="fragment/general.html :: footer"></footer>

        <!-- scripts -->
        <th:block th:replace="fragment/general.html :: scripts" />
    </body>
</html>