<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragment/general.html :: headerfiles (pageTitle='글수정')"></head>
    <body style="padding-top: 3.5rem;">

        <!-- xs navbar -->
        <nav class="navbar navbar-expand navbar-dark d-md-none fixed-top px-0 py-3" style="background-color: #1fc996;">
            <div class="container-fluid">
                <a href="javascript:history.back()" class="text-decoration-none text-white">
                    <i class="bi bi-chevron-left"></i>
                </a>
                <div class="text-white">글수정</div>
                <a href="javascript:void(0);" id="mobileSaveButton" class="text-decoration-none text-white">작성완료</a>
            </div>
        </nav>

        <!-- md lg xl navbar -->
        <nav class="navbar navbar-expand-md navbar-dark d-none d-md-flex fixed-top px-0 px-md-5" style="background-color: #1fc996;">
            <div class="container-fluid">
                <a class="navbar-brand py-0" href="/community/list">
                    <i class="bi bi-vector-pen fs-5 align-middle"></i>
                    <span class="fw-bold fs-4">KKAEMI.GG</span>
                </a>
                <div class="d-none d-md-block me-md-2" style="--bs-breadcrumb-divider: '|';">
                    <ol class="breadcrumb m-auto fw-lighter fs-4">
                        <li class="breadcrumb-item"></li>
                        <li class="breadcrumb-item"></li>
                    </ol>
                </div>
                <button class="navbar-toggler btn-outline"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav mt-2 mb-2 mb-md-0 mt-md-0">
                        <li class="nav-item d-grid text-center">
                            <a href="/" class="nav-link active d-none d-md-block">
                                <span class="fs-6">전적 검색</span>
                            </a>
                            <button class="btn btn-outline-light btn-md rounded-3 px-4 d-md-none" onclick="location.href='/'">전적 검색</button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mt-2 mb-2 mb-md-0 mt-md-0">
                        <li class="nav-item d-grid">
                            <button class="btn btn-outline-light btn-md rounded-3 px-4"
                                    th:if="${session.user == null}"
                                    th:onclick="location.href='/user/login'">로그인</button>
                            <form method="POST"
                                  th:if="${session.user != null}"
                                  th:action="@{/logout}">
                                <button class="btn btn-outline-light btn-md rounded-3 px-4 w-100"
                                        onclick="this.parentNode.submit()">로그아웃</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="py-3 px-md-3 px-lg-5">
            <h4 class="d-none d-md-block py-md-3 fw-bold">글수정</h4>
            <input type="text" class="form-control mb-3 rounded-0" id="title" name="title" placeholder="제목" autocomplete="off" style="box-shadow: none;">
            <div id="editor"></div>
            <div class="d-none d-md-flex justify-content-between pt-md-3">
                <button class="btn text-white px-md-5 py-md-2" style="background-color: #a0a6aa;" onclick="history.back(); return false;">취소</button>
                <button id="saveButton" class="btn text-white px-md-5 py-md-2" style="background-color: #1fc995;">작성완료</button>
            </div>
        </div>

        <!-- footer -->
        <footer th:insert="fragment/general.html :: footer"></footer>

        <!-- scripts -->
        <th:block th:replace="fragment/general.html :: scripts" />
        <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/translations/ko.js"></script>
        <script src="/js/edit.js"></script>

    </body>
</html>