<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/general.html :: headerfiles (pageTitle='글 쓰기')"></head>
<body>

    <div>
        <form>
            <div>
                <label for="title">
                    제목
                </label>
                <input type="text" id="title" name="title">
            </div>

            <div>
                <label for="author">
                    작성자
                </label>
                <input type="text" id="author" name="author">
            </div>

            <div>
                <label for="content">
                    내용
                </label>
                <textarea name="content" id="content" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea>
            </div>

            <button type="button" id="btn-save">등록</button>
            <a href="/">취소</a>

        </form>
    </div>

    <script src="/js/write.js"></script>

</body>
</html>