<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerfiles (pageTitle)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One">
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link rel="stylesheet" th:href="@{/css/record.css}">
        <link rel="stylesheet" th:href="@{/css/list.css}">
        <link rel="stylesheet" th:href="@{/css/write.css}">
        <title th:text="${pageTitle}"></title>
    </head>
    <body style="background-color: #dee2e6;">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg p-0 navbar-light" style="background-color: #223046;" th:fragment="navbar">
        <div class="container-fluid p-0">
            <a class="navbar-brand text-white fs-4 fw-bold px-2 align-self-stretch" style="background-color: #3d8bfd;" href="/">KKAEMI.GG</a>
            <button class="navbar-toggler bg-white m-1" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class="d-flex m-2">
                    <button class="btn btn-primary btn-sm rounded-3 px-3 text-white me-2"
                            onclick="location.href='/community/list'">커뮤니티</button>
                    <button th:if="${session.user == null}"
                            th:onclick="location.href='/user/login/'"
                            class="btn btn-primary btn-sm rounded-3 px-3 text-white">로그인</button>
                    <form method="POST"
                          th:if="${session.user != null}"
                          th:action="@{/logout}">
                        <button class="btn btn-primary btn-sm rounded-3 px-3 text-white"
                                onclick="this.parentNode.submit()">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <!-- footer -->
    <footer class="footer mt-auto py-3 bg-secondary" th:fragment="footer">
        <div class="container">
            <div class="text-white">
                <br>
                <div class="fs-2" style="font-family: 'Krona One'; cursor: default;">
                    KKAEMI.GG
                </div>
                <br>
                <div class="">
                    created by kkaemi
                </div>
                <br>
                <span class="">
                    GitHub :
                </span>
                <a target="_blank" href="https://github.com/Kkaemi/kkaemiGG" class="text-decoration-underline text-white">
                    https://github.com/Kkaemi/kkaemiGG
                </a>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <th:block th:fragment="scripts">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/580e6d9306.js" crossorigin="anonymous"></script>
    </th:block>

    </body>
</html>