<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 헤더 -->
<th:block th:fragment="headerFragment">
    <nav class="my_navbar">
        <div class="navbar_logo">
            <a href="/">KKAEMI.GG</a>
        </div>
        <div class="navbar_member_links">
            <span th:onclick="location.href='/community/community/'">커뮤니티</span>&emsp;
            <span th:if="${session.user == null}"
                  th:onclick="location.href='/user/login-form/'">LOGIN</span>
            <span th:if="${session.user != null}"
                  th:onclick="location.href='/user/logout'">LOGOUT</span>
        </div>
    </nav>
</th:block>
</html>