<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 헤더 -->
<th:block th:fragment="headerFragment">
    <nav class="my_navbar">
        <div class="navbar_logo">
            <a href="/">KKAEMI.GG</a>
        </div>
        <div class="navbar_member_links">
            <span th:onclick="location.href='/community/list/'">커뮤니티</span>&emsp;
            <span th:if="${session.user == null}"
                  th:onclick="location.href='/user/login/'">LOGIN</span>
            <form method="POST"
                  th:if="${session.user != null}"
                  th:action="@{/logout}">
                <span onclick="this.parentNode.submit()">LOGOUT</span>
            </form>
        </div>
    </nav>
</th:block>
</html>