<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragment/general.html :: headerfiles (pageTitle='회원가입')">
    </head>
    <body style="background-color: #dee2e6;">
        <div style="padding-top: 170px; padding-bottom: 200px;">
            <div class="bg-white border border-1 mx-auto my-0 py-6 col-4">
                <div class="p-5">
                    <div class="fs-1 fw-bolder text-center pb-4" style="color: #4c8cff;">KKAEMI.GG</div>
                    <br>
                    <div class="register-form">
                        <h2 class="fs-5">기본정보입력</h2>
                        <br>
                        <div class="form-floating">
                            <input type="email" class="form-control border-0" id="floatingEmail" placeholder="name@example.com" autocomplete="off">
                            <label for="floatingEmail">이메일 주소</label>
                        </div>
                        <hr class="dropdown-divider">
                        <div id="invalidEmail" class="invalid-feedback fw-bold"></div>
                        <div class="form-floating">
                            <input type="text" class="form-control border-0" id="floatingNickname" placeholder="Nickname" autocomplete="off">
                            <label for="floatingNickname">닉네임</label>
                        </div>
                        <hr class="dropdown-divider">
                        <div id="invalidNickname" class="invalid-feedback fw-bold"></div>
                        <div class="form-floating">
                            <input type="password" class="form-control border-0" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">비밀번호</label>
                        </div>
                        <hr class="dropdown-divider">
                        <div id="invalidPassword" class="invalid-feedback fw-bold"></div>
                        <br>
                        <div class="d-grid">
                            <button type="button" id="submitButton" class="btn btn-primary fw-bold py-3 disabled">가입하기</button>
                        </div>
                        <br>
                        <div class="text-center">
                            이미 회원이신가요?
                            &emsp;
                            <a href="/user/login">로그인하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- scripts -->
        <th:block th:replace="fragment/general.html :: scripts" />
        <script src="../../js/register-form.js"></script>
    </body>
</html>