body {
    margin: 0;
    background-color: #e1e2e1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66afe9;
    padding: 8px 16px;
}

.navbar_logo {
    font-size: 2em;
    font-family: "Krona One";
}

.navbar_logo a {
    color: white;
    text-decoration: none;
}

.navbar_member_links span {
    color: white;
    padding: 8px 16px;
}

.navbar_member_links span:hover {
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
}