.modal {
    position: fixed;
    top: 0px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: scroll;
    overflow-y: auto;
    padding-right: 0px !important;
}

.modal-open {
    overflow: scroll;
    padding-right: 0px !important;
}

@media all and (min-width: 768px) {
    .body {
        padding-top: 8rem !important;
    }
    .border-bottom-md-0 {
        border-bottom: 0 !important;
    }
    .position-md-static {
        position: static !important;
    }
    .thumbnail {
        width: 93px !important;
        height: 60px !important;
    }
}