.profile_container {
    display: flex;
    width: 1000px;
    margin: 20px auto 0 auto;
    padding: 5px 5px;
    border: 1px solid gray;
}

.profile_icon {
    height: 120px;
}

.profile_image {
    width: 120px;
    height: 120px;
}

.profile {
    margin: 0 25px;
}

.profile > .information {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, "Apple SD Gothic Neo", AppleGothic;
}

.profile > .information > .tier_info > .level {
    border: 1px solid gray;
    border-radius: 6px;
    padding : 1px 3px 0 3px;
    margin: 2px 2px;
}

.queue_info {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 1px 3px 0 3px;
    margin: 2px 2px;
}

.rank_container {
    display: flex;
    width: 1000px;
    margin: 20px auto 0 auto;
    padding: 5px 5px;
    border: 1px solid gray;
    justify-content: space-between;
}

.solo_rank {
    display: flex;
    border: 1px solid gray;
    width: inherit;
    height: 150px;
    margin-right: 2.5px;
    justify-content: space-around;
    align-items: center;
}

.free_rank {
    display: flex;
    border: 1px solid gray;
    width: inherit;
    height: 150px;
    margin-left: 2.5px;
    justify-content: space-around;
    align-items: center;
}

.queueType {
    font-size: 18px;
    font-weight: bold;
}

.tier_rank {
    font-size: 20px;
    font-weight: bold;
    color: #66afe9;
}

.league_points {
    font-weight: bold;
}

.rank_info {
    width: 150px;
}

.emblem_icon > img {
    width: 110px;
}

.match_content_win {
    display: flex;
    width: 1000px;
    margin: 20px auto 0 auto;
    padding: 5px 5px;
    border: 1px solid gray;
    align-items: center;
    justify-content: space-around;
    background-color: #a3d0ec;
}

.match_content_loss {
    display: flex;
    width: 1000px;
    margin: 20px auto 0 auto;
    padding: 5px 5px;
    border: 1px solid gray;
    align-items: center;
    justify-content: space-around;
    background-color: #e1b6b3;
}

/* 게임 시작 시간 승패 여부 */
.game_stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game_stats > div {
    font-size: 12px;
     line-height: 16px;
}

.game_stats > .bar {
    width: 27px;
    height: 2px;
    background-color: black;
    margin: 5px auto;
}

/* 챔피언 스펠 룬 정보 */
.game_setting_info {
    display: column;
    text-align: center;
}

.game_setting_info > .game_setting_info_image {
    display: flex;
}

.game_setting_info > .game_setting_info_image > div {
    margin: 2px;
}

.game_setting_info > .game_setting_info_image > .champion_image > img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.game_setting_info > .game_setting_info_image > .summoner_spell > .spell > img {
    width: 25px;
    height: 25px;
}

.game_setting_info > .game_setting_info_image > .runes > .rune > img {
    width: 25px;
    height: 25px;
}

.game_setting_info > .champion_name {
    margin-top: 20px;
}

/* KDA 정보 */
.match_content_win > .kda {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.match_content_loss > .kda {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.match_content_win > .kda > * {
    margin: 3px 0;
}

.match_content_loss > .kda > * {
    margin: 3px 0;
}

.kda > .kda {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.kda > .kda > span {
    font-size: 20px;
    font-weight: bold;
    color: #555e5e;
    margin: 0 5px 0 5px;
}

.kda > .kda_ratio > span {
    font-weight: bold;
}

.kda > .multi_kill > span {
    background-color: #ef5a52;
    font-size: 13px;
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
}

/* 레벨 CS 킬관여율 */
.match_content_win > .stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.match_content_loss > .stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.match_content_win > .stats > * {
    margin: 2px 0;
}

.match_content_loss > .stats > * {
    margin: 2px 0;
}

/* 아이템 리스트 */
.items {
    width: 110px;
    display: flex;
    flex-wrap: wrap;
}

.items > .item_list > .item > img {
    width: 25px;
    height: 25px;
    margin: 1px;
}

/* 팀 정보 */
.follow_players {
    display: flex;
    justify-content: space-between;
}

.follow_players > * {
    display: flex;
    flex-direction: column;
    margin: 0 3px 0 3px;
}

.follow_players > * > .summoner {
    display: flex;
    align-items: center;
}

.follow_players > * > .summoner > .champion_image {
    margin: 1px;
    height: 25px;
}

.follow_players > * > .summoner > .champion_image > img {
    width: 25px;
    height: 25px;
}

.follow_players > * > .summoner > .summoner_name {
    margin-left: 2px;
}

.match_content_wrapper {
    margin-bottom: 50px;
}