<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전적 검색 메인 페이지</title>
    <!-- config fragment 사용 -->
    <th:block th:replace="fragment/config :: configFragment" ></th:block>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One">
</head>

<body>
    <!-- 헤더 -->
    <th:block th:replace="fragment/header :: headerFragment"></th:block>

    <!-- 타이틀 -->
    <div class="title">
        KKAEMI.GG
    </div>

    <!-- 서치바 -->
    <div class="search_bar_container">
        <form th:action="@{/summoner}" method="get">
            <div class="search_bar">
                <input type="text" name="userName" placeholder="소환사명을 입력해 주세요"/>
                <button type="submit">.GG</button>
            </div>
        </form>
    </div>

    <!-- 유튜브 동영상 리스트 -->
    <div class="youtube_video_list">
        <th:block th:each="youtubeSearchResult : ${youtubeSearchResultList}">
            <iframe th:src="@{https://www.youtube.com/embed/{videoId}(videoId = ${youtubeSearchResult.getId().getVideoId()})}"
                    style="height: 169px; margin: 0 5px;"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </th:block>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
<script src="https://kit.fontawesome.com/580e6d9306.js" crossorigin="anonymous"></script>
</html>