<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소환사 전적</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/record.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One">
    <style>
        .match_content_wrapper {
            margin-bottom: 50px;
        }

        footer {
            clear: both;
            background-color: #333333;
            color: white;
            text-align: center;
            padding: 1em 0px;
        }

        footer > div {
            width: 400px;
            text-align: left;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <!-- 헤더 -->
    <nav class="my_navbar">
        <div class="navbar_logo">
            <a href="/">KKAEMI.GG</a>
        </div>
        <div class="navbar_member_links">
            <span th:onclick="location.href='/loginForm/'">LOGIN</span>&emsp;<span>SIGN UP</span>
        </div>
    </nav>

    <!-- 소환사 프로필 -->
    <div class="profile_container">
        <div class="profile_icon">
            <img th:if="${not #strings.isEmpty(summoner.getProfileIcon())}"
                 th:src="@{${summoner.getProfileIcon().getImage().getURL()}}"
                 class="profile_image">
            <img th:unless="${not #strings.isEmpty(summoner.getProfileIcon())}"
                 th:src="@{img/profileIcon0.jpg}"
                 class="profile_image">
        </div>
        <div class="profile">
            <div class="information">
                <div th:text="${summoner.getName()}" class="name">소환사 이름</div>
                <div class="tier_info">
                    <span th:text="'레벨 : ' + ${summoner.getLevel()}" class="level">소환사 레벨</span>
                    <th:block th:each="leagueEntry : ${leagueEntryList}">
                        <th:block th:if="${leagueEntry.getQueue().toString().equals('RANKED_SOLO')}"
                                  th:with="queueType = '솔로랭크'">
                            <span class="queue_info" th:text="${queueType} + ' : ' + ${leagueEntry.getWins()} + '승 ' + ${leagueEntry.getLosses()} + '패 '"></span>
                        </th:block>
                        <th:block th:if="${leagueEntry.getQueue().toString().equals('RANKED_FLEX')}"
                                  th:with="queueType = '자유랭크'">
                            <span class="queue_info" th:text="${queueType} + ' : ' + ${leagueEntry.getWins()} + '승 ' + ${leagueEntry.getLosses()} + '패 '"></span>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <!-- 소환사 랭크 정보 -->
    <div class="rank_container">
        <div class="solo_rank">
            <div class="emblem_icon">
                <img th:if="${leagueEntryList.isEmpty()}" src="/img/ranked-emblems/Emblem_Unranked.png">
                <img th:if="${leagueEntryList.size() == 1 && !leagueEntryList[0].getQueue().toString().equals('RANKED_SOLO')}" src="/img/ranked-emblems/Emblem_Unranked.png">
                <th:block th:each="leagueEntry : ${leagueEntryList}">
                    <img th:if="${leagueEntry.getQueue().toString().equals('RANKED_SOLO')}" th:src="@{/img/ranked-emblems/Emblem_{tier}.png(tier = ${leagueEntry.getTier().toString()})}">
                </th:block>
            </div>
            <div class="rank_info">
                <div class="queueType">솔로랭크</div>
                <br>
                <th:block th:each="leagueEntry : ${leagueEntryList}"
                          th:if="${leagueEntry.getQueue().toString().equals('RANKED_SOLO')}">
                    <div class="tier_rank" th:text="${leagueEntry.getTier().toString()} + ' ' + ${leagueEntry.getDivision().toString()}"></div>
                    <div class="win_lose">
                        <span class="league_points" th:text="${leagueEntry.getLeaguePoints()} + ' LP '"></span>
                        <span class="wins" th:text="'/ ' + ${leagueEntry.getWins()} + '승 '"></span>
                        <span class="losses" th:text="${leagueEntry.getLosses()} + '패'"></span>
                        <div class="win_ratio" th:text="${'승률 ' + #numbers.formatPercent((leagueEntry.getWins() * 1.0)/(leagueEntry.getWins() + leagueEntry.getLosses()), 2, 2)}"></div>
                    </div>
                </th:block>
                <div class="rank_info_is_empty" th:if="${(leagueEntryList.size() == 1 && !leagueEntryList[0].getQueue().toString().equals('RANKED_SOLO')) || leagueEntryList.isEmpty()}"
                     th:text="랭크정보없음"></div>
            </div>
        </div>
        <div class="free_rank">
            <div class="emblem_icon">
                <img th:if="${leagueEntryList.isEmpty()}" src="/img/ranked-emblems/Emblem_Unranked.png">
                <img th:if="${leagueEntryList.size() == 1 && !leagueEntryList[0].getQueue().toString().equals('RANKED_FLEX')}" src="/img/ranked-emblems/Emblem_Unranked.png">
                <th:block th:each="leagueEntry : ${leagueEntryList}">
                    <img th:if="${leagueEntry.getQueue().toString().equals('RANKED_FLEX')}" th:src="@{/img/ranked-emblems/Emblem_{tier}.png(tier = ${leagueEntry.getTier().toString()})}">
                </th:block>
            </div>
            <div class="rank_info">
                <div class="queueType">자유 5:5 랭크</div>
                <br>
                <th:block th:each="leagueEntry : ${leagueEntryList}"
                          th:if="${leagueEntry.getQueue().toString().equals('RANKED_FLEX')}">
                    <div class="tier_rank" th:text="${leagueEntry.getTier().toString()} + ' ' + ${leagueEntry.getDivision().toString()}"></div>
                    <div class="win_lose">
                        <span class="league_points" th:text="${leagueEntry.getLeaguePoints()} + ' LP '"></span>
                        <span class="wins" th:text="'/ ' + ${leagueEntry.getWins()} + '승 '"></span>
                        <span class="losses" th:text="${leagueEntry.getLosses()} + '패'"></span>
                        <div class="win_ratio" th:text="${'승률 ' + #numbers.formatPercent((leagueEntry.getWins() * 1.0)/(leagueEntry.getWins() + leagueEntry.getLosses()), 2, 2)}"></div>
                    </div>
                </th:block>
                <div class="rank_info_is_empty" th:if="${(leagueEntryList.size() == 1 && !leagueEntryList[0].getQueue().toString().equals('RANKED_FLEX')) || leagueEntryList.isEmpty()}"
                     th:text="랭크정보없음"></div>
            </div>
        </div>
    </div>

    <!-- 소환사 전적 리스트 -->
    <div class="match_content_wrapper">
        <th:block th:each="matches : ${matchHistory}">
            <div th:class="${matches.getParticipants()[0].getStats().isWinner() ? 'match_content_win' : 'match_content_loss'}">
                <div class="game_stats">
                    <div th:if="${matches.getQueue().toString().equals('RANKED_SOLO')}" th:text="'솔랭'"></div>
                    <div th:if="${matches.getQueue().toString().equals('RANKED_FLEX')}" th:text="'자유 5:5 랭크'"></div>
                    <div th:if="${matches.getQueue().toString().equals('ALL_RANDOM_URF')}" th:text="'우르프'"></div>
                    <div th:if="${matches.getQueue().toString().equals('ARAM')}" th:text="'무작위 총력전'"></div>
                    <div th:with="dayDiff = ${T(org.joda.time.DateTimeComparator).getDateOnlyInstance().compare(T(org.joda.time.DateTime).now(), matches.getCreationTime())}"
                         th:text="${dayDiff == 0 ? new org.joda.time.format.PeriodFormatterBuilder().appendHours().appendSuffix('시간 ').appendMinutes().appendSuffix('분 전').printZeroNever().toFormatter().print(new org.joda.time.Period(matches.getCreationTime().plusMinutes(28), new org.joda.time.DateTime())) : dayDiff + '일 전'}">GameCreationTime</div>
                    <div class="bar"></div>
                    <div class="game_result" th:text="${matches.getParticipants()[0].getStats().isWinner() ? '승리' : '패배'}">GameResult</div>
                    <div class="game_length" th:text="${new org.joda.time.format.PeriodFormatterBuilder().appendHours().appendSuffix('시간 ').appendMinutes().appendSuffix('분 ').appendSeconds().appendSuffix('초').printZeroNever().toFormatter().print(matches.getDuration().toPeriod())}">GameLength</div>
                </div>
                <div class="game_setting_info">
                    <div class="game_setting_info_image">
                        <div class="champion_image">
                            <img th:src="@{${matches.getParticipants()[0].getChampion().getImage().getURL()}}">
                        </div>
                        <div class="summoner_spell">
                            <div class="spell">
                                <img th:src="@{${matches.getParticipants()[0].getSummonerSpellD().getImage().getURL()}}">
                            </div>
                            <div class="spell">
                                <img th:src="@{${matches.getParticipants()[0].getSummonerSpellF().getImage().getURL()}}">
                            </div>
                        </div>
                        <div class="runes">
                            <!-- 룬 이미지는 아직 지원 안해주는거 같으니 직접 정적 파일을 다운받아서 해결해야 할 듯 싶 -->
                            <div class="rune">
                                <img th:if="${matches.getParticipants()[0].getRuneStats()[0].getRune().getPath().getId() == 8000}"
                                     th:src="@{https://raw.communitydragon.org/10.23/game/assets/perks/styles/precision/{runeName}/{runeName}.png(runeName = ${matches.getParticipants()[0].getRuneStats()[0].getRune().getKey().toLowerCase()})}">
                                <img th:if="${matches.getParticipants()[0].getRuneStats()[0].getRune().getPath().getId() == 8100}"
                                     th:src="@{https://raw.communitydragon.org/10.23/game/assets/perks/styles/domination/{runeName}/{runeName}.png(runeName = ${matches.getParticipants()[0].getRuneStats()[0].getRune().getKey().toLowerCase()})}">
                                <img th:if="${matches.getParticipants()[0].getRuneStats()[0].getRune().getPath().getId() == 8200}"
                                     th:src="@{https://raw.communitydragon.org/10.23/game/assets/perks/styles/sorcery/{runeName}/{runeName}.png(runeName = ${matches.getParticipants()[0].getRuneStats()[0].getRune().getKey().toLowerCase()})}">
                                <img th:if="${matches.getParticipants()[0].getRuneStats()[0].getRune().getPath().getId() == 8300}"
                                     th:src="@{https://raw.communitydragon.org/10.23/game/assets/perks/styles/whimsy/{runeName}/{runeName}.png(runeName = ${matches.getParticipants()[0].getRuneStats()[0].getRune().getKey().toLowerCase()})}">
                                <img th:if="${matches.getParticipants()[0].getRuneStats()[0].getRune().getPath().getId() == 8400}"
                                     th:src="@{https://raw.communitydragon.org/10.23/game/assets/perks/styles/resolve/{runeName}/{runeName}.png(runeName = ${matches.getParticipants()[0].getRuneStats()[0].getRune().getKey().toLowerCase()})}">
                            </div>
                            <div class="rune">
                                <img th:if="${matches.getParticipants()[0].getSecondaryRunePath().getId() == 8000}"
                                     th:src="@{https://raw.communitydragon.org/10.23/game/assets/perks/styles/7201_precision.png}">
                                <img th:if="${matches.getParticipants()[0].getSecondaryRunePath().getId() == 8100}"
                                     th:src="@{https://raw.communitydragon.org/latest/game/assets/perks/styles/7200_domination.png}">
                                <img th:if="${matches.getParticipants()[0].getSecondaryRunePath().getId() == 8200}"
                                     th:src="@{https://raw.communitydragon.org/latest/game/assets/perks/styles/7202_sorcery.png}">
                                <img th:if="${matches.getParticipants()[0].getSecondaryRunePath().getId() == 8300}"
                                     th:src="@{https://raw.communitydragon.org/latest/game/assets/perks/styles/7203_whimsy.png}">
                                <img th:if="${matches.getParticipants()[0].getSecondaryRunePath().getId() == 8400}"
                                     th:src="@{https://raw.communitydragon.org/latest/game/assets/perks/styles/7204_resolve.png}">
                            </div>
                        </div>
                    </div>
                    <div class="champion_name">
                        <span th:text="${matches.getParticipants()[0].getChampion().getName()}"></span>
                    </div>
                </div>
                <div class="kda">
                    <div class="kda">
                        <span class="kill" th:text="${matches.getParticipants()[0].getStats().getKills()}"></span>
                        /
                        <span class="death" th:text="${matches.getParticipants()[0].getStats().getDeaths()}"></span>
                        /
                        <span class="assist" th:text="${matches.getParticipants()[0].getStats().getAssists()}"></span>
                    </div>
                    <div class="kda_ratio">
                        <!-- 퍼펙트 게임일 경우 에러 발생 -->
                        <span th:if="${matches.getParticipants()[0].getStats().getDeaths() != 0}"
                              th:with="kda = (${matches.getParticipants()[0].getStats().getKills()}+${matches.getParticipants()[0].getStats().getAssists()})/${matches.getParticipants()[0].getStats().getDeaths()}*1.0"
                              th:text="${#numbers.formatDecimal(kda, 1, 2) + ' : 1'}">
                        </span>
                        <span th:unless="${matches.getParticipants()[0].getStats().getDeaths() != 0}"
                              th:text="'Perfect'">
                        </span>
                        평점
                    </div>
                    <div class="multi_kill">
                        <span th:if="${matches.getParticipants()[0].getStats().getLargestMultiKill() == 2}"
                              th:text="'더블킬'"></span>
                        <span th:if="${matches.getParticipants()[0].getStats().getLargestMultiKill() == 3}"
                              th:text="'트리플킬'"></span>
                        <span th:if="${matches.getParticipants()[0].getStats().getLargestMultiKill() == 4}"
                              th:text="'쿼드라킬'"></span>
                        <span th:if="${matches.getParticipants()[0].getStats().getLargestMultiKill() == 5}"
                              th:text="'펜타킬'"></span>
                    </div>
                </div>
                <div class="stats">
                    <div class="level" th:text="${'레벨' + matches.getParticipants()[0].getStats().getChampionLevel()}">level</div>
                    <div class="cs" th:text="${matches.getParticipants()[0].getStats().getCreepScore() + ' CS'}">CS</div>
                    <!-- 킬관여율은 어떠한 데이터로 산정하는지 알수없음 -->
                    <div class="ck_rate"></div>
                </div>
                <div class="items">
                    <div class="item_list" th:each="items : ${matches.getParticipants()[0].getItems()}">
                        <div class="item">
                            <!-- 첫번째 아이템이 공백이면 다음 값을 못 불러오는 문제 발생 -->
                            <img th:if="${items.exists()}" th:src="@{${items.getImage().getURL()}}">
                        </div>
                    </div>
                </div>
                <div class="follow_players">
                    <div class="blue_team">
                        <div class="summoner" th:each="participants : ${matches.getBlueTeam().getParticipants()}">
                            <div class="champion_image">
                                <img th:src="@{${participants.getChampion().getImage().getURL()}}">
                            </div>
                            <div class="summoner_name" th:text="${participants.getSummoner().getName()}"></div>
                        </div>
                    </div>
                    <div class="red_team">
                        <div class="summoner" th:each="participants : ${matches.getRedTeam().getParticipants()}">
                            <div class="champion_image">
                                <img th:src="@{${participants.getChampion().getImage().getURL()}}">
                            </div>
                            <div class="summoner_name" th:text="${participants.getSummoner().getName()}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <!-- 푸터 -->
    <footer>
        <div>
            <br>
            EMAIL. kitys2k3@naver.com
            <br>
            <br>
            © KKAEMI Corp.
            <br>
            <br>
        </div>
    </footer>
</body>
</html>